/* 

    Todo:
        - Mobile! (As with week 03 prompt.)
        - Improve appearance of results a bit.
        - Tweak tests stuff/message feedback.

*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: ghostwhite;
    margin: 2rem 1rem;
}

#everything {
    margin: 0 auto;
    max-width: 50rem;
}

.hidden {
    display: none;
}

#form, #output {
    border: 2px solid lightgray;
    margin: 0 auto 1.5rem auto;
    padding: 2rem;
    max-width: max-content;
}

#form label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#input {
    margin: 1.5rem 0 0 0;
    width: 100%;
}

#input {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
}

#buttons {
    /* background-color: lightgrey; */
    display: flex;
    justify-content: space-between;
}

/*
#submit, #tests {
    display: inline-block;
}
*/

#submit {
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

#tests {
    align-self: end;
    background-color: lightyellow;
    /* border-radius: 0; */
    opacity: 50%;
    padding: 1rem 2rem;
}

#tests:hover {
    opacity: 100%;
}

#output .result {
    background-color: gold;
    display: inline-block;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

#output h2 {
    margin-top: 0;
}

#message {
    padding: 0.5rem;
}

#message h3 {
    margin-top: 0;
}

#message p {
    margin: 0;
}

#message code {
    font-family: monospace;
}

.neutral {
    background-color: lightgrey;
    color: grey;
}

.error {
    background-color: lightsalmon;
    color: darkred;
}